<%= semantic_form_for @service, html: {multipart: true} do |f| %>
    <h3 class="Content-h3"><%= edit_helper(@service) %>门店</h3>
    <div class="panel">
      <div class="panel-body">
        <h4 class="base-info">基本资料</h4>
        <% if @service.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @service.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <%= f.semantic_fields_for :profile do |p| %>
            <div class="avatar-35 pull-right">
              <div class="New-portrait pull-right">
                <samp>
                  <i class=" icon">&#xe619;</i>
                </samp>

                <p>上传门店头像</p>
                <input type="file" class="file-loading ">
              </div>
            </div>
            <div class="form-main">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店名称</samp>
                </span>
                <%= p.text_field :name, :class => "form-control" %>
              </div>
              <div class="input-group form-main">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">营业时间</samp>
                </span>
                <%= p.text_field :business_hour_start, class: "form-control-mine", placeholder: "00:00" %> -
                <%= p.text_field :business_hour_end, class: "form-control-57-3", placeholder: "23:59" %>
              </div>
              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店电话</samp>
                </span>
                <%= p.text_field :mobile, class: "form-control" %>
              </div>

              <div class="input-group top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">健身服务</samp>
                </span>
                <%= p.select(:hobby, INTERESTS['items'].map { |item| [item['name'], item['id']] }, {include_hidden: false}, {multiple: true, class: 'form-control'}) %>
              </div>
              <div class="input-group form-main">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店地址</samp>
                </span>
                <%= p.select(:province, [], {}, {class: 'form-control-28 form-control-no-left-border'}) %>
                -
                <%= p.select(:city, [], {}, {class: 'form-control-28 form-control-all-border'}) %>
                -
                <%= p.select(:area, [], {}, {class: 'form-control-28 form-control-all-border'}) %>
              </div>
              <div class="input-group form-main">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">详细地址</samp>
                </span>
                <%= p.text_field :address, class: "form-control" %>
              </div>
              <div class="input-group form-main">
                <%= p.text_area :signature, class: "form-control-text", rows: 6, placeholder: "请填写门店简介" %>
              </div>
            </div>
        <% end %>
        <h4 class="base-info top20">照片墙</h4>

        <div class="top20 clearfix">
          <div class="Photo-pil pull-left">
            <i class="Photo-font icon">&#xe619;</i>
            <samp>添加照片</samp>
            <input type="file" class="file-loading">
          </div>
        </div>
        <div class="top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>
    new PCAS("service[profile_attributes][province]", "service[profile_attributes][city]", "service[profile_attributes][area]",
            '<%=@service.profile.province%>', '<%=@service.profile.city%>', '<%=@service.profile.area%>');
    $(function () {
                $("#service_profile_attributes_birthday").datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd'
                });
                $('#service_profile_attributes_hobby').multiselect({
                    inheritClass: true,
                    numberDisplayed: 8,
                    nonSelectedText: '请选择提供的健身服务',
                    maxHeight: 100,
                    dropUp: true
                });
                $(".portrait").image_preview();
            }
    );
    /**
     * 建立一個可存取到該file的url
     * PS: 瀏覽器必須支援HTML5 File API
     */
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>

<script>
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    $(function () {
        var file_count = 0;
        $('#multi').on('change', '.image_uploader', function () {
            $('#text').remove();
            $('#film').remove();
            var remain = 6 - file_count;
            for (var i = 0; i < (remain > this.files.length ? this.files.length : remain); i++) {
                var objUrl = getObjectURL(this.files[i]);
                $(this).parent().children('div').remove();
                $(this).parent().css('background-image', "url(" + objUrl + ")");
                $(this).parent().css('background-size', "cover");
            }
            file_count = file_count + this.files.length;
            if (file_count < 6) {
                var image_div = "<div class='upload_area pull-left'>" +
                        "<div class='panel-body'>" +
                        "<i class='iconfont2 lxcop'>&#xe618;</i>" +
                        "<p class='text-center cot-til'>上传图片</p>" +
                        "<p class='text-center cot-til'>（还可以上传" + (6 - file_count) + "张）</p>"
                        + "</div>" +
                        "<input type='file'     class='image_uploader' name='image[]'/>" +
                        "</div>";
                $(this).parent().parent().append(image_div);
            }
        })

        $('#multi').on('change', '.film_uploader', function () {
            $('#image').remove();
            $('#text').remove();
            $('#cover').remove();
            var filename = $('.film_uploader').val();
            if (filename.length > 15) {
                $("#film_title").text(filename.substr(0, 15) + '...');
            } else {
                $("#film_title").text(filename);
            }

            var image_div = "<div class='upload_area pull-left' id='cover'>" +
                    "<div class='panel-body'>" +
                    "<i class='iconfont2 lxcop'>&#xe618;</i>" +
                    "<p class='text-center cot-til'>请上传视频的封面</p>" + "</div>" +
                    "<input type='file' name='cover' class='cover_uploader'/>" +
                    "</div>";
            $(this).parent().parent().append(image_div);
        });

        $('#multi').on('change', '.cover_uploader', function () {
            var objUrl = getObjectURL(this.files[0]);
            $(this).parent().children('div').remove();
            $(this).parent().css('background-image', "url(" + objUrl + ")");
            $(this).parent().css('background-size', "cover");
        })
    })

</script>