<%= semantic_form_for @service, html: {multipart: true} do |f| %>

    <div class="panel">
      <div class="panel-header">
        <%= edit_helper(@service) %>门店
      </div>
      <div class="panel-body">
        <h4 class="base-info">基本资料</h4>
        <% if @service.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @service.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <%= f.semantic_fields_for :profile do |p| %>
            <%= p.hidden_field(:identity) %>
            <div class="new-portrait pull-right">
              <samp class="default_icon">
                <i class=" icon"></i>
              </samp>

              <p class="default_title">上传门店头像</p>
              <%= p.file_field :avatar, class: "image-uploader" %>
            </div>
            <div class="form-main">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店名称</samp>
                </span>
                <%= p.text_field :name, :class => "form-control" %>
              </div>
              <div class="input-group top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">营业时间</samp>
                </span>
                <%= p.text_field :business, class: 'form-control' %>
              </div>
              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店电话</samp>
                </span>
                <%= p.text_field :mobile, class: "form-control" %>
              </div>

              <div class="input-group top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">健身服务</samp>
                </span>
                <%= p.select(:hobby, INTERESTS['items'].map { |item| [item['name'], item['id']] },
                             {include_blank: '请选择健身服务'},
                             {multiple: true, class: 'form-control selectpicker'}) %>
              </div>
              <div class="input-group top20  address_selector tiform">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">门店地址</samp>
                </span>
                <%= p.select(:province, [], {}, {class: 'address_province_selector  selectpicker'}) %>
                -
                <%= p.select(:city, [], {}, {class: 'address_city_selector  selectpicker'}) %>
                -
                <%= p.select(:area, [], {}, {class: 'address_city_selector selectpicker'}) %>
              </div>
              <div class="input-group form-main">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">详细地址</samp>
                </span>
                <%= p.text_field :address, class: "form-control" %>
              </div>
              <div class="input-group form-main">
                <%= p.text_area :signature, class: "form-control-text", rows: 6, placeholder: "请填写门店简介" %>
              </div>
            </div>
        <% end %>
        <h4 class="base-info top20">照片墙</h4>

        <div class="top20 clearfix" id="photowall">
          <div class="photowall-item pull-left">
            <div class="place">
              <i class="photowall-font icon">&#xe619;</i>
              <samp>添加照片</samp>
            </div>
            <input type="file" class="image-uploader" name="photo[]">
          </div>
        </div>
        <div class="top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>
    new PCAS("service[profile_attributes][province]", "service[profile_attributes][city]", "service[profile_attributes][area]",
            '<%=@service.profile.province%>', '<%=@service.profile.city%>', '<%=@service.profile.area%>');
    $(function () {
                var file_count = 0;
                $('#photowall').on('change', '.image-uploader', function () {
                    var remain = 8 - file_count;
                    for (var i = 0; i < (remain > this.files.length ? this.files.length : remain); i++) {
                        var objUrl = getObjectURL(this.files[i]);
                        $(this).parent().children('.place').remove();
                        $(this).parent().css('background-image', "url(" + objUrl + ")");
                        $(this).parent().css('background-size', "cover");
                        $(this).parent().append('<a class="close close_label " aria-label="Close" onclick="return $(this).parent().remove();"><span aria-hidden="true">&times;</span></a>');
                    }
                    file_count = file_count + this.files.length;
                    if (file_count < 8) {
                        var image_div = '<div class="photowall-item pull-left">' +
                                '<div class="place">' +
                                '<i class="photowall-font icon">&#xe619;</i>' +
                                '<samp>添加照片</samp>' +
                                '</div>' +
                                '<input type="file" class="image-uploader" name="photo[]">' +
                                '</div>';
                        $(this).parent().parent().append(image_div);
                    }
                });
            }
    );

</script>