
  <div class="histo-top colmd clearfix">

    <div class="pull-left colmd-a">
      <a href="#" class="pull-left  histo-text"><samp class="histo-active"><div id="triangle-down"></div>门店</samp></a>
      <%= link_to "动态", dynamics_path, class:"pull-left  histo-text "%>
      <a href="#" class="pull-left  histo-text">消息</a>
      <a href="#" class="pull-left  histo-text">群组</a>
    </div>
    <%= link_to '<i class="icon">&#xe613;</i>新增门店'.html_safe, new_service_path, class: "colmd-2 pull-right" %>


  </div>
  <div class="panel  top20">
    <div class="panel-tiading">门店(<%= @services.count %>)</div>
    <div class="panel-body">
      <div class="clearfix">
        <% @services.each do |service| %>
            <div class="media media-frame">
              <div class="media-left">
                <%= link_to (image_tag service.profile.avatar.url(:thumb),class:"media-wbjectr"),service, class:"media-wbjectr"%>
              </div>
              <div class="media-body">
                <div class="pull-right rmediat-right" ><%=I18n.t("activerecord.attributes.service.state.#{service.state}")%></div>
                <h4 class="media-teheading"><%=service.profile.name%></h4>
                <p class="teheading-puo"><i class="icon">&#xe61f;</i><%=service.mxid%></p>

                <div class="teheading-text teheading-top">电话：<%=service.profile.mobile%></div>
                <div class="teheading-text">地址：<%= service.profile.address %></div>
              </div>
            </div>
        <%end%>



      </div>
      <div class="clearfix">
         <%= will_paginate @services, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>


