<div class="page-header  clearfix">

  <div class="pull-left mx-tabs">
    <a href="#" class="pull-left  page-header-text"><samp class="mx-tab-active">
      <div id="triangle-down"></div>
      门店</samp></a>
    <%= link_to "动态", dynamics_path, class: "pull-left  page-header-text " %>
    <%= link_to "消息", message_index_path, class: "pull-left  page-header-text " %>
    <%= link_to "群组", dynamics_path, class: "pull-left  page-header-text " %>
  </div>
  <%= link_to '<i class="icon">&#xe613;</i>新增门店'.html_safe, new_service_path, class: "-2 pull-right" %>


</div>
<div class="panel  top20">
  <div class="panel-header">门店(<%= @services.count %>)</div>
  <div class="panel-body">
    <div class="clearfix">
      <% @services.each do |service| %>
          <div class="media media-frame">
            <div class="media-left">
              <a class="media-wbjectr" href="<%= service_path(service) %>">
                <div class="media-wbjectr" style="background-image: url(<%=service.profile.avatar.url%>);background-size: cover"></div>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right rmediat-right"><%= I18n.t("activerecord.attributes.service.state.#{service.state}") %></div>
              <h4 class="media-teheading"><%= service.profile.name %></h4>

              <p class="teheading-puo"><i class="icon">&#xe61f;</i><%= service.mxid %></p>

              <div class="teheading-text teheading-top">电话：<%= service.profile.mobile %></div>
              <div class="teheading-text">地址：<%= service.profile.address %></div>
            </div>
          </div>
      <% end %>


    </div>
    <div class="clearfix">
      <%= will_paginate @services, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>


