<div class="row wtilt">
  <div class="top15 clearfix row col-lg-12">
    <div class="col-lg-5 col-md-5 ptl-wli">
      <div class="panel panel-default clearfix">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="panel-headint tdzty clearfix bottom50">
              <a href="/profile/edit" class="pull-right">
                <i class="iconfont">&#xe611;</i>编辑</a>
            </div>
            <a href="#" class="thumbnait" style="background: url('<%=@profile.avatar.thumb.url%>') center center no-repeat ; background-size: cover;">
            </a>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-xs-12 col-md-12 ">
            <div class="text-center fygroup ">
              <p class="color20"><%= @profile.name %></p>

              <p class="color5c top8">美型号 <%= @profile.mxid %></p>

              <p class="color5c top5"><%= @profile.hobby_string %></p>
            </div>
          </div>
        </div>
        <div class="tpxooc">
          <div>
            <div class="media-left">
              <i class="iconfont5 ">&#xe613;</i>
            </div>
            <div class="media-body p-txt">
              <%= @profile.mobile %>
            </div>
          </div>
          <div>
            <div class="media-left">
              <i class="iconfont5 ">&#xe61a;</i>
            </div>
            <div class="media-body p-txt">
              <a href="http://share.e-mxing.com/?tid=<%= @profile.mxid %>&type=agency">http://share.e-mxing.com/?tid=<%= @profile.mxid %>
                &type=agency</a>
            </div>
          </div>
          <div>
            <div class="media-left">
              <i class="iconfont5 ">&#xe614;</i>
            </div>
            <div class="media-body p-txt">
              <%= @profile.province + @profile.city + @profile.address %>
            </div>
          </div>

        </div>
        <div class="panel-body polkt top50 p-txt">
          <%= @profile.signature %>
        </div>
      </div>

    </div>
    <div class="col-lg-7 col-md-7 ptl-wlp ">
      <div class="panel panel-default ptl-wlt pult-left">
        <div class="panel-headint tdzty clearfix">
          <h3 class=" pull-left panel-title">照片墙</h3>
          <a href="/profile/photowall" class="pull-right txt-tofi">
            <i class="iconfont">&#xe611;</i>编辑</a>
        </div>
        <div class="panel-body  pciilk">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <% @service.photos.each_index do |index| %>
                  <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <%
                 @service.photos.each do |photo|
                   if @service.photos.first.eql?(photo)
              %>
                      <div class="item active">
                        <%= image_tag(photo.photo.url) %>
                      </div>
                  <% else %>
                      <div class="item">
                        <%= image_tag(photo.photo.url) %>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <i class="iconfont">&#xe616;</i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <i class="iconfont">&#xe615;</i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>