<div class="page-header  clearfix">
  <div class="pull-left mx-tabs">
    <%= link_to "门店", services_path, class: "pull-left  page-header-text " %>
    <%= link_to "动态", dynamics_path, class: "pull-left  page-header-text " %>
    <a href="<%= message_index_path %>" class="pull-left  page-header-text">
      <samp class="mx-tab-active">
        <span id="triangle-down"></span>
        消息
      </samp>
    </a>
    <%= link_to "群组", mass_message_groups_path, class: "pull-left  page-header-text " %>
  </div>
  <a href="<%= new_message_path %>" class="-2 pull-right"><i class="icon">&#xe613;</i>新增消息</a>
</div>


<div class="panel  top20">
  <div class="panel-header">消息</div>
  <div class="panel-body">
    <table class="tablet table-striped">
      <thead class="table-bordered">
      <tr class="bordered-bj">
        <th>门店</th>
        <th>收件群组</th>
        <th>内容</th>
        <th>操作人</th>
      </tr>
      </thead>
      <tbody class="table-bordered">
      <% @mass_messages.each { |message| %>
          <tr>
            <td width="10%"><%= message.service.profile.name %></td>
            <td width="40%"><%= message.groups %></td>
            <td width="40%"><%= message.content %></td>
            <td width="10%">暂未</td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>