<div class="panel">
  <div class="panel-header">终端机展示图</div>
  <div class="panel-body">
    <div class="Commoditypicture">
      <h4 class="top20" style="color: #21486a;font-size: 14px; ">第一栏</h4>

      <div class="top20 clearfix">
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'first[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'first[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'first[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
      </div>
    </div>
    <div class="Commoditypicture">
      <h4 class="top20" style="color: #21486a;font-size: 14px; ">第一栏</h4>

      <div class="top20 clearfix">
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'second[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'second[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'second[]', class: 'image-uploader', name: 'product[image][]' %>
        </div>
      </div>
    </div>
    <div class="Commoditypicture">
      <h4 class="top20" style="color: #21486a;font-size: 14px; ">第一栏</h4>

      <div class="top20 clearfix">
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'image', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'image', class: 'image-uploader', name: 'product[image][]' %>
        </div>
        <div class="photowall-item pull-left">
          <div class="place">
            <samp class="default_icon">
              <i class="photowall-font icon"></i>
            </samp>

            <p class="default_title">添加图片</p>
          </div>
          <%= file_field_tag 'image', class: 'image-uploader', name: 'product[image][]' %>
        </div>
      </div>
    </div>
    <div class="top20">
      <button type="submit" class="submit ">确认</button>
    </div>
  </div>
</div>