<script>
    $(function () {
        $('.orderPagination a').on('click', function (event) {
            var sku = $('#sku').val();
            var year = $('#year').val();
            var month = $('#month').val();
            $.get(this.href, {sku: sku, year: year, month: month}, null, "script");
            return false;
        })
    });
</script>
<table class="table table-striped card-list" id="datatable-editable">
  <thead>
  <tr class="prito">
    <th width="15%">订单编号</th>
    <th width="15%">商品</th>
    <th width="15%">卖家／联系电话</th>
    <th width="15%">所属门店</th>
    <th width="8%">金额（元）</th>
    <th width="10%">支付方式</th>
    <th width="10%">来源</th>
    <th width="12%">日期</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each { |order| %>
      <tr>
        <td><%= order.no %></td>
        <td><%= truncate(order.order_item.name, lenght: 8) %></td>
        <td><%= order.contact_name %>/<%= order.contact_phone %></td>
        <td><%= order.service.profile.name rescue '' %></td>
        <td><%= order.total %></td>
        <td><%= order.pay_type_i18n %></td>
        <td><%= order.order_type_i18n %></td>
        <td><%= order.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
      </tr>
  <% } %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
</div>