<%= form_for(@withdraw) do |f| %>
    <% if @success %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= @success %><br/>
        </div>
    <% end %>
    <% if @failure %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= @failure %><br/>
        </div>
    <% end %>
    <div class="input-group  top20 group-width">
      <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
      <%= f.select(:coach_id, current_admin_user.all_services.pluck(:name, :id), {include_blank: "请选择门店"}, class: 'form-control selectpicker') %>
    </div>
    <div class="input-group top20 group-width">
      <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">帐号</samp></span>
      <%= f.text_field(:account, class: 'form-control', placeholder: '请输入要转入的支付宝账户') %>
    </div>
    <div class="input-group top20 group-width ">
      <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">实名</samp></span>
      <%= f.text_field(:name, class: 'form-control', placeholder: '请输入支付宝账户对应的实名') %>
    </div>
    <div class="input-group top20 group-width ">
      <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">转账金额</samp></span>
      <%= f.text_field(:amount, class: 'form-control', placeholder: '请输入转账金额') %>
      <span class="input-group-addon">元</span>
    </div>
    <h4 class="top20" style=" color: #1b1b1b;font-size: 14px;">
      余额：<samp style="color: #ff623c;font-size: 18px;margin-right: 5px;" id="balance">0</samp>
      <samp style=" color: #a2a9b5;font-size: 14px;">元</samp>
    </h4>

    <div class="top20">
      <button type="submit" class="submit">确认</button>
    </div>
<% end %>
<p class="sure-explain top10">首次输入的支付宝帐号将直接绑定为服务号提现帐号，如需更改，请联系客服 021-67854738。</p>
<script>
    $(function () {
        $('#withdraw_coach_id').on('change', function () {
            var service = $(this).val();
            if (service != '') {
                $.getJSON(this.value + '/balance', function (data) {
                    $('#balance').html(data.balance);
                })
            }
        });
    })
</script>