<script>
    $(function () {
        $('.log_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>
<div id="log_table">
  <div class="table-responsive top20">
    <table class="table table-striped">
      <thead>
      <tr class="table-header">
        <th>提现日期</th>
        <th>门店</th>
        <th>支付宝账号</th>
        <th>金额（元）</th>
        <th>操作人</th>
      </tr>
      </thead>
      <tbody>
      <% @logs.each do |log| %>
          <tr>
            <td><%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= log.wallet.user.profile.name rescue '' %></td>
            <td><%= log.source %></td>
            <td><%= log.balance.to_i %></td>
            <td><%= log.operator %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="clearfix pull-right">
    <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'log_pagination' %>
  </div>
</div>
