<div class="panel panel-default">
  <script type="text/javascript">
      Highcharts.setOptions({
          colors: [
              '#b5edff', '#ffbab7', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
          xAxis: {
              labels: {style: {color: '#ED561B', font: "Microsoft Yahei"}},
              lineColor: '#ED561B'
          }
      });
      $(function () {
          var day = <%=@day%>;
          var s_order = <%=@s_order%>;
          var c_order = <%=@c_order%>;
          $('#orders').highcharts({
              chart: {
                  type: 'areaspline'
              },
              title: {text: '订单统计'},
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'top',
                  floating: true,
                  borderWidth: 1,
                  backgroundColor: '#FFFFFF'
              },
              xAxis: {categories: day},
              yAxis: {title: {text: '单数'}},
              tooltip: {shared: true, valueSuffix: '单'},
              credits: {enabled: false},
              plotOptions: {areaspline: {fillOpacity: 0.5}},
              series: [
                  {name: '总订单', data: s_order},
                  {name: '私教订单', data: c_order}
              ]
          });
          $('.pagination a').attr('data-remote', 'true');
      });
  </script>
  <div class="panel-body">
    <div id="orders"></div>
  </div>
  <div class="panel panel-default">
    <table class="table table-hover txt-zt">
      <thead>
      <tr class="prito">
        <th class="text-center">订单编号</th>
        <th class="text-center">私教</th>
        <th class="text-center">买家昵称</th>
        <th class="text-center">买家</th>
        <th class="text-center">联系电话</th>
        <th class="text-center">金额(元)</th>
        <th class="text-center">支付方式</th>
        <th class="text-center">时间</th>
      </tr>
      </thead>
      <tbody class="pritbl">
      <% @orders.each { |order| %>
          <tr>
            <td class="text-center tyeq"><%= order.no %></td>
            <th class="text-center tyeq"><%= Coach.find_by(id: order.coach_id).profile.name rescue '' %></th>
            <th class="text-center tyeq"><%= order.user.profile.name %></th>
            <td class="text-center tyeq"><%= order.contact_name %></td>
            <td class="text-center tyeq"><%= order.contact_phone %></td>
            <td class="text-center tyeq"><%= order.total %></td>
            <td class="text-center tyeq"><%= order.pay_type_name %></td>
            <td class="text-center tyeq"><%= order.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>