<%= semantic_form_for @coach, html: {multipart: true} do |f| %>
    <div class="panel">
      <div class="panel-header">新建私教</div>
      <div class="panel-body">
        <h4 class="base-info">基本资料</h4>
        <% if @coach.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @coach.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>

        <%= f.semantic_fields_for :profile do |p| %>
            <%= p.hidden_field :id %>
            <div class="new-portrait pull-right" data-url="<%= p.object.avatar.url %>">
              <samp class="default_icon">
                <i class=" icon"></i>
              </samp>

              <p class="default_title">上传私教头像</p>
              <%= p.file_field :avatar, class: "image-uploader" %>
            </div>

            <div class="form-main">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">私教姓名</samp></span>

                <%= p.text_field :name, :class => "form-control" %>
              </div>

              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">生日</samp></span>
                <%= p.text_field :birthday, class: "form-control datepicker" %>
              </div>

              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">性别</samp></span>
                <%= p.collection_select :gender, UserRegistration.genders.map { |key, value| [I18n.t("activerecord.attributes.gender.#{key}"), key] }, :last, :first, {include_blank: '请选择性别'}, class: "form-control selectpicker" %>
              </div>
              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">私教简介</samp></span>
                <%= p.text_field :signature, class: "form-control" %>
              </div>

              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
                <%= f.collection_select :service_id, current_user.all_services, :id, :name, {include_blank: '请选择门店'}, class: "form-control selectpicker" %>
              </div>

              <div class="input-group  top20">
                <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">健身服务</samp></span>
                <%= p.select(:hobby, INTERESTS['items'].map { |item| [item['name'], item['id']] }, {include_blank: false}, class: 'form-control selectpicker', multiple: true) %>
              </div>
              <% if f.object.new_record? %>
                  <div class="input-group  top20">
                    <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录名</samp></span>
                    <%= f.text_field :mobile, class: "form-control", placeholder: "请输入登录美型APP的手机号码" %>
                  </div>

                  <div class="input-group  top20">
                    <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录密码</samp></span>
                    <%= f.password_field :password, class: "form-control" %>
                  </div>
                  </div>
              <% end %>
        <% end %>
        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>
    $(function () {
                $("#coach_profile_birthday").datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd'
                });
                $(".new-portrait").image_preview();
            }
    );

</script>
