<script>
    $(function () {
        $('.coach_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>
<div id="coach_table" class="panel">
  <table class="table table-striped card-list" id="datatable-editable">
    <thead>
    <tr>
      <th width="8%">头像</th>
      <th width="12%">姓名</th>
      <th width="10%">性别</th>
      <th width="16%">门店</th>
      <th width="18%">电话</th>
      <th width="10%">注册日期</th>
      <th width="16%">操作</th>
    </tr>
    </thead>
    <tbody>
    <% @coaches.each { |coach| %>
        <tr>
          <td><%= image_tag(coach.profile.avatar.url + '-avatar', class: "img-responsive img-circle") %></td>
          <td><%= coach.profile.name %></td>
          <td><%= coach.profile.gender_i18n %></td>
          <td><%= coach.service.profile.name rescue nil %></td>
          <td><%= coach.mobile %></td>
          <td><%= coach.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td class="list-card-1f">
            <% if can?(:update, Coach) %>
                <%= link_to "编辑", edit_coach_path(coach) %>｜<%= link_to "详情", coach %>
            <% end %>
          </td>
        </tr>
    <% } %>
    </tbody>
  </table>
  <div class="dataTables_paginate">
    <%= will_paginate @coaches, renderer: BootstrapPagination::Rails, class: 'coach_pagination', inner_window: 2 %>
  </div>
</div>