<%= semantic_form_for @membership_card, html: {multipart: true} do |f| %>
    <div class="panel  top20">
      <div class="panel-header">新增私教卡</div>
      <div class="panel-body">
        <% if @membership_card.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @membership_card.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <div class="form-main">
          <%= f.hidden_field :card_type, value: 'stored' %>
          <%= f.hidden_field :valid_days %>
          <%= f.hidden_field :value %>
          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">门店</samp></span>
            <%= f.collection_select :service_id, current_user.all_services, :id, :name, {}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">卡名称</samp></span>
            <%= f.select :name, options_for_select([]), {}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">绑定会员</samp></span>
            <%= f.select :member_id,
                         options_for_select(Member.where(client_id: current_user.client_id).pluck(:name, :id)),
                         {include_blank: '请选择会员'},
                         {
                                 class: "form-control selectpicker",
                                 'data-live-search' => 'true'
                         } %>
          </div>
          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">实体卡号</samp></span>
            <%= f.text_field :physical_card, readonly: f.object.physical_card.present?, class: 'form-control' %>
          </div>

          <h5 class="top20">充值会员卡</h5>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">开始时间</samp></span>
            <%= text_field_tag :valid_start, '', readonly: true, class: 'form-control' %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">结束时间</samp></span>
            <%= text_field_tag :valid_end, '', readonly: true, class: 'form-control' %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">应收金额</samp></span>
            <%= text_field_tag :market_price, '', class: 'form-control', readonly: true %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">实收金额</samp></span>
            <%= text_field_tag :pay_amount, '', class: 'form-control' %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">支付类型</samp></span>
            <%= select_tag :pay_type, options_for_select(MembershipCardLog.pay_type_for_select), class: 'form-control selectpicker' %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">销售人员</samp></span>
            <%= select_tag :seller, '', class: 'form-control selectpicker' %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">备注</samp></span>
            <%= text_field_tag :remark, '', class: 'form-control' %>
          </div>
        </div>
        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>
<script>
    $(function () {
        $('#membership_card_service_id').on('change', function () {
            var service_id = $(this).val();
            if (service_id != '') {
                $("#membership_card_name").empty();
                $("<option>请选择卡</option>").appendTo('#membership_card_name');
                $.getJSON('/' + service_id + '/membership_card_types/' + <%=MembershipCardType.card_types['course']%> +'/cards', function (data) {
                    $.each(data, function (i, value) {
                        $("<option value='" + value.name +
                        "' data-price='" + value.price +
                        "' data-valid-days='" + value.valid_days +
                        "' data-delay-days='" + value.delay_days +
                        "' data-value='" + value.value +
                        "'>" + value.name + "</option>").appendTo('#membership_card_name');
                    });
                    $("#membership_card_name").selectpicker('refresh');
                });

                $.getJSON('/' + service_id + '/salesman', function (data) {
                    $.each(data, function (i, value) {
                        $("<option value='" + value.id + "'>" + value.name + "</option>").appendTo('#seller');
                    });
                    $("#seller").selectpicker('refresh');
                });
            }
        });
        $('#membership_card_name').on('change', function () {
            var valid_days = ($(this).find("option:selected").attr("data-valid-days"));
            var market_price = ($(this).find("option:selected").attr("data-price"));
            var today = new Date();
            $('#valid_start').val(today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate());
            if (valid_days == 'null') {
                $('#valid_end').val('永久');
            } else {
                today.setTime(today.getTime() + valid_days * 24 * 60 * 60 * 1000);
                $('#valid_end').val(today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate());
                $('#membership_card_valid_days').val(valid_days);
                $('#market_price').val(market_price);
                $('#membership_card_value').val(value);
            }
        })
    })
</script>




