<%= semantic_form_for @membership_card do |f| %>

    <div class="panel-body">
      <h4 class="base-info">基本资料</h4>
      <% if f.object.errors.present? %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <% f.errors.messages.values.each { |v| %>
                <%= v %><br/>
            <% } %>
          </div>
      <% end %>

      <div class="form-main">
        <%= f.hidden_field(:client_id) %>
        <div class="input-group  ">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">私教姓名</samp></span>
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">生日</samp></span>
          <%= p.text_field :birthday, class: "form-control datepicker" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">性别</samp></span>
          <%= p.collection_select :gender, UserRegistration.genders.map { |key, value| [I18n.t("activerecord.attributes.gender.#{key}"), key] }, :last, :first, class: "form-control" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">手机号码</samp></span>
          <%= p.text_field :mobile, class: "form-control" %>
        </div>
        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">私教简介</samp></span>
          <%= p.text_field :signature, class: "form-control" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
          <%= f.collection_select :service_id, current_user.all_services, :id, :name, {}, class: "form-control" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">健身服务</samp></span>
          <%= p.select(:hobby, INTERESTS['items'].map { |item| [item['name'], item['id']] }, {include_hidden: false}, {multiple: true}) %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录用户名</samp></span>
          <%= f.text_field :mobile, class: "form-control", placeholder: "请输入手机号" %>
        </div>

        <div class="input-group  top20">
          <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录密码</samp></span>
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="top20">
        <button type="submit" class="submit ">确认</button>
      </div>
    </div>
<% end %>