<script>
    $(function () {
        $('.coach_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>
<table class="table table-striped card-list">
  <thead>
  <tr>
    <th width="5%">编号</th>
    <th width="10%">名称</th>
    <th width="10%">类型</th>
    <th width="18%">所属门店</th>
    <th width="18%">绑定会员</th>
    <th width="10%">余额</th>
    <th width="10%">状态</th>
    <th width="19%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @membership_cards.each do |membership_card| %>
      <tr>
        <td><%= membership_card.id %></td>
        <td><%= membership_card.name %></td>
        <td><%= membership_card.card_type_i18n %></td>
        <td><%= membership_card.service.profile.name %></td>
        <td><%= membership_card.member.name %></td>
        <td><%= membership_card.value %></td>
        <td class="net-color"><%= membership_card.status %></td>
        <td class="list-card-1f">
          <%= link_to('消费记录', membership_card_membership_card_logs_path(membership_card)) %>
          | <%= link_to('转卡') %>
          | <%= link_to('激活') %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @membership_cards, renderer: BootstrapPagination::Rails %>
</div>