<script xmlns="http://www.w3.org/1999/html">
    $(function () {
        $('.coach_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
        $("#myModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    });
</script>
<table class="table table-striped card-list">
  <thead>
  <tr>
    <th width="5%">编号</th>
    <th width="10%">名称</th>
    <th width="10%">类型</th>
    <th width="18%">所属门店</th>
    <th width="18%">绑定会员</th>
    <th width="10%">余额</th>
    <th width="10%">状态</th>
    <th width="19%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @membership_cards.each do |membership_card| %>
      <tr>
        <td><%= membership_card.id %></td>
        <td><%= truncate(membership_card.name, length: 6) %></td>
        <td><%= membership_card.card_type_i18n %></td>
        <td><%= membership_card.service.profile.name %></td>
        <td><%= membership_card.member.name + '(' + membership_card.member.mobile + ')' %></td>
        <td>
          <% if membership_card.stored? %>
              <%= membership_card.value %>元
          <% elsif membership_card.measured? %>
              <%= membership_card.value %>次
          <% elsif membership_card.clocked? %>
              <% if membership_card.valid_end.eql?('已过期') %>
                  <span style="color: red"><%= membership_card.valid_end %></span>
              <% else %>
                  <%= (membership_card.valid_end- Date.today).floor %>天
              <% end %>

          <% elsif membership_card.course? %>
              <%= membership_card.supply_value %>节
          <% end %>
        </td>
        <td>
          <% if membership_card.to_be_activated? %>
              <span style="color: #808080"><%= membership_card.status_i18n %></span>
          <% elsif membership_card.normal? %>
              <span style="color: #1fbba6"><%= membership_card.status_i18n %></span>
          <% elsif membership_card.disable? %>
              <span style="color: red"><%= membership_card.status_i18n %></span>
          <% end %>
        </td>
        <td class="list-card-1f">
          <% if membership_card.to_be_activated?||membership_card.disable? %>
              <%= link_to('消费记录', membership_card_membership_card_logs_path(membership_card)) %>
              <% if can?(:transfer, MembershipCard) %>
                  |<%= link_to('转让', transfer_members_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
              <% end %>
              <% if can?(:binding, MembershipCard) %>
                  <% if membership_card.physical_card.blank? %>
                      |<%= link_to('绑实体卡', binding_request_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
                  <% end %>
              <% end %>
              <% if can?(:active, MembershipCard) %>
                  |<%= link_to('激活', active_membership_card_path(membership_card), method: :post) %>
              <% end %>
              <% if can?(:charge, MembershipCard) %>
                  |<%= link_to('充值', charge_request_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
              <% end %>
          <% end %>
          <% if membership_card.normal? %>
              <%= link_to('消费记录', membership_card_membership_card_logs_path(membership_card)) %>
              <% if can?(:transfer, MembershipCard) %>
                  |<%= link_to('转让', transfer_members_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
              <% end %>
              <% if can?(:binding, MembershipCard) %>
                  <% if membership_card.physical_card.blank? %>
                      |<%= link_to('绑实体卡', binding_request_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
                  <% end %>
              <% end %>
              <% if can?(:disable, MembershipCard) %>
                  |<%= link_to('停卡', disable_membership_card_path(membership_card), method: :post) %>
              <% end %>
              <% if can?(:charge, MembershipCard) %>
                  |<%= link_to('充值', charge_request_path(membership_card), 'data-toggle' => 'modal', 'data-target' => '#myModal') %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @membership_cards, renderer: BootstrapPagination::Rails %>
</div>

<div class="modal fade sign-in-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>