<script>
    $(function () {
        $('.admin_user_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>
<div class="col-lg-12 top10 tdzty">
  <h3 class="poloklh4">工作人员信息</h3>

  <div class="panel panel-default top15">
    <table class="table table-hover txt-zt">
      <thead>
      <tr class="prito">
        <th class="text-center">头像</th>
        <th class="text-center">昵称</th>
        <th class="text-center">性别</th>
        <th class="text-center">注册时间</th>
        <th>签名</th>
        <th class="text-center">操作</th>
      </tr>
      </thead>
      <tbody class="pritbl">
      <% @admin_users.each { |admin_user| %>
          <tr>
            <td class="text-center tyeq"><%= image_tag(admin_user.avatar.thumb.url, class: 'img-circle  img-w') %></td>
            <td class="text-center tyeq"><%= admin_user.name %></td>
            <td class="text-center tyeq"><%= admin_user.gender.eql?(1) ? '女' : '男' %></td>
            <td class="text-center tyeq"><%= admin_user.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= truncate(admin_user.profile.signature) %></td>
            <td class="text-center">
            </td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="dataTables_paginate">
    <%= will_paginate @admin_users, renderer: BootstrapPagination::Rails, class: 'admin_user_pagination', inner_window: 2 %>
  </div>
</div>