<%= semantic_form_for @admin_user, html: {multipart: true} do |f| %>
    <div class="panel">
      <div class="panel-header"><%= edit_helper(@admin_user) %>工作人员</div>
      <div class="panel-body">
        <h4 class="base-info">基本资料</h4>
        <% if @admin_user.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @admin_user.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>

        <div class="new-portrait pull-right" data-url="<%= f.object.avatar.url rescue '' %>">
          <samp class="default_icon">
            <i class="icon"></i>
          </samp>

          <p class="default_title">上传头像</p>
          <%= f.file_field :avatar, class: "image-uploader" %>
        </div>

        <div class="form-main">

          <div class="input-group  ">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">姓名</samp></span>

            <%= f.text_field :name, :class => "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">生日</samp></span>
            <%= f.text_field :birthday, class: "form-control datepicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">性别</samp></span>
            <%= f.collection_select :gender, UserRegistration.genders.map { |key, value| [I18n.t("activerecord.attributes.gender.#{key}"), key] }, :last, :first, {include_blank: "性别"}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">手机号码</samp></span>
            <%= f.text_field :mobile, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
            <%= f.collection_select :service_id, current_user.all_services, :id, :name, {include_blank: "全部"}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">身份</samp></span>
            <%= f.collection_select(:role, I18n.t("enums.admin_user.role").except(:super, :admin, :cms, :market, :operator, :superadmin), :first, :last, {include_blank: '请选择身份'}, class: "form-control selectpicker") %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">备注</samp></span>
            <%= f.text_field :remark, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录邮箱</samp></span>
            <%= f.text_field :email, class: "form-control", placeholder: "请输入邮箱" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">登录密码</samp></span>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>


        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>

    $(function () {
                $("#admin_user_birthday").datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd'
                });
                $(".new-portrait").image_preview();
            }
    );


</script>
