<script>
    $(function () {
        $('#admin_user').highcharts({
            chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false},
            title: {text: '工作人员统计'},
            tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '占比',
                data: [
                    ['管理员', <%=@query.result.store_admin.where(service_id: current_user.all_service.pluck(:id)).count%>],
                    ['店长', <%=@query.result.store_manager.where(service_id: current_user.all_service.pluck(:id)).count%>],
                    ['财务', <%=@query.result.finance.where(service_id: current_user.all_service.pluck(:id)).count%>],
                    ['前台', <%=@query.result.front_desk.where(service_id: current_user.all_service.pluck(:id)).count%>],
                    ['销售', <%=@query.result.sale.where(service_id: current_user.all_service.pluck(:id)).count%>]
                ]
            }]
        });
    });
</script>
<div id="admin_user"></div>