<div class="page-header  clearfix">
  <%= search_form_for @query do |f| %>
      <div class="member-search pull-left member-type">

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
          <%= f.search_field :name_or_mobile_cont, placeholder: "工作人员姓名／手机号码", class: "form-control" %>
        </div>
      </div>
      <%= link_to "新建工作人员", new_admin_user_path, class: "new-member pull-right" %>
      <%= link_to '搜索', '#', class: "detailed-Search pull-right", onclick: "return $(this).closest('form').submit()" %>
  <% end %>
</div>
<div class="panel  top20">
  <div class="panel-header clearfix sure-select">
    <span class="pull-left">工作人员统计</span>

    <p class="top10">
      <%= search_form_for @query do |f| %>
          <%= f.collection_select :service_id_eq, current_admin_user.all_services, :id, :name, {include_blank: "全部门店"}, class: "pull-right", onchange: "return $(this).closest('form').submit()" %>
      <% end %>
    </p>
  </div>
  <div class="panel-body">
    <div class="chart-surrounded">
      <%= render 'report' %>
    </div>
    <div>
      <%= render 'table' %>
    </div>
  </div>
</div>

