<%= semantic_form_for @membership_card_type, html: {multipart: true} do |f| %>
    <div class="panel  top20">
      <div class="panel-header">新增期限卡</div>
      <div class="panel-body">
        <% if @membership_card_type.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @membership_card_type.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <div class="form-main">
          <%= f.hidden_field :card_type, value: 'clocked' %>
          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">门店</samp></span>
            <%= f.collection_select :service_id, current_user.all_services, :id, :name, {}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">名称</samp></span>
            <%= f.text_field :name, :class => "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">项目</samp></span>

            <%= f.select :value, options_for_select(INTERESTS['items'].map { |item| [item['name'], item['id']] }), {}, :class => "form-control selectpicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">金额</samp></span>

            <%= f.text_field :price, :class => "form-control" %>
            <span class="input-group-addon">元</span>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">有效期</samp></span>

            <%= f.text_field :valid_days, :class => "form-control" %>
            <span class="input-group-addon">天</span>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">备注</samp></span>

            <%= f.text_field :remark, :class => "form-control" %>
          </div>
        </div>
        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>




