<div class="page-header  clearfix">
  <div class="pull-left mx-tabs">
    <% if @membership_card_type.stored? %>
        <%= link_to('<samp class="mx-tab-active">
          <div id="triangle-down"></div>
          储值卡</samp>'.html_safe, '#', class: 'pull-left  page-header-text') %>
    <% else %>
        <%= link_to('储值卡', new_membership_card_type_path + '?card_type=0', class: 'pull-left  page-header-text') %>
    <% end %>
    <% if @membership_card_type.measured? %>
        <%= link_to('<samp class="mx-tab-active">
          <div id="triangle-down"></div>
          次卡</samp>'.html_safe, '#', class: 'pull-left  page-header-text') %>
    <% else %>
        <%= link_to('次卡', new_membership_card_type_path + '?card_type=1', class: 'pull-left  page-header-text') %>
    <% end %>
    <% if @membership_card_type.clocked? %>
        <%= link_to('<samp class="mx-tab-active">
          <div id="triangle-down"></div>
          期限卡</samp>'.html_safe, '#', class: 'pull-left  page-header-text') %>
    <% else %>
        <%= link_to('期限卡', new_membership_card_type_path + '?card_type=2', class: 'pull-left  page-header-text') %>
    <% end %>
    <% if @membership_card_type.coach? %>
        <%= link_to('<samp class="mx-tab-active">
          <div id="triangle-down"></div>
          私教卡</samp>'.html_safe, '#', class: 'pull-left  page-header-text') %>
    <% else %>
        <%= link_to('私教卡', new_membership_card_type_path + '?card_type=3', class: 'pull-left  page-header-text') %>
    <% end %>
  </div>
</div>
<% if @membership_card_type.stored? %>
    <%= render 'stored' %>
<%
   elsif @membership_card_type.measured? %>
    <%= render 'measured' %>
<%
   elsif @membership_card_type.clocked?
%>
    <%= render 'clocked' %>
<%
   elsif @membership_card_type.coach?
%>
    <%= render 'coach' %>
<%
   end
%>