<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @membership_card_abstract.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @membership_card_abstract.service_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @membership_card_abstract.client_id %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @membership_card_abstract.card_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @membership_card_abstract.price %>
</p>

<p>
  <strong>Count:</strong>
  <%= @membership_card_abstract.count %>
</p>

<p>
  <strong>Days:</strong>
  <%= @membership_card_abstract.days %>
</p>

<p>
  <strong>Has valid extend information:</strong>
  <%= @membership_card_abstract.has_valid_extend_information %>
</p>

<p>
  <strong>Valid days:</strong>
  <%= @membership_card_abstract.valid_days %>
</p>

<p>
  <strong>Latest delay days:</strong>
  <%= @membership_card_abstract.latest_delay_days %>
</p>

<%= link_to 'Edit', edit_membership_card_abstract_path(@membership_card_abstract) %> |
<%= link_to 'Back', membership_card_type_path %>
