<script>
    $(function () {
        $('.log_pagination a').on('click', function () {
            $.get(this.href, null, null, "script");
            return false;
        })
    });
</script>

<div id="table">
  <div>
    <table class="table table-striped" id="datatable-editable">
      <thead>
      <tr class="table-header">
        <th>转账日期</th>
        <th>门店</th>
        <th>私教</th>
        <th>金额</th>
        <th>操作人</th>
      </tr>
      </thead>
      <tbody >
      <% @logs.each { |log| %>
          <tr>
            <td><%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= log.wallet.user.profile.name %></td>
            <td><%= log.coach.profile.name %></td>
            <td><%= log.balance.to_i %></td>
            <td><%= nil %></td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="clearfix pull-right">
    <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'log_pagination' %>
  </div>
</div>