<script>
    $(function () {
        $('.log_pagination a').on('click', function () {
            $.get(this.href, {sku: sku, year: year, month: month}, null, "script");
            return false;
        })
    });
</script>
<div>
  <div>
    <table class="table table-striped card-list" id="datatable-editable">
      <thead>
      <tr class="prito">
        <th class="text-center">转账日期</th>
        <th class="text-center">门店</th>
        <th class="text-center">私教</th>
        <th class="text-center">金额</th>
        <th class="text-center">操作人</th>
      </tr>
      </thead>
      <tbody class="pritbl">
      <% @logs.each { |log| %>
          <tr>
            <td class="text-center"><%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td class="text-center"><%= log.wallet.user.profile.name %></td>
            <td class="text-center"><%= log.coach.profile.name %></td>
            <td class="text-center"><%= log.balance.to_i %></td>
            <td class="text-center"><%= nil %></td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="clearfix pull-right">
    <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'log_pagination' %>
  </div>
</div>