<div class="page-header  clearfix">
  <div class="pull-left mx-tabs">
    <% if @type.eql?('signal') %>
        <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        单人转账</samp>'.html_safe, '/transfers?type=signal', class: 'pull-left page-header-text' %>
        <%= link_to "多人转账", '/transfers?type=multiple ', class: "pull-left  page-header-text " %>
    <% elsif @type.eql?('multiple') %>
        <%= link_to '单人转账', '/transfers?type=signal', class: 'pull-left page-header-text' %>
        <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        多人转账</samp>'.html_safe, '/transfers?type=multiple ', class: "pull-left  page-header-text " %>
    <% end %>
  </div>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">转账请求</span>
  </div>
  <div>
    <div class="panel-body">
      <div id="form">
        <% if @type.eql?('signal') %>
            <%= render 'form' %>
        <% elsif @type.eql?('multiple') %>
            <%= render 'multi_form' %>
        <% end %>
      </div>
      <div>
        <div class="clearfix top20">
          <div class="pull-left">提现记录</div>
          <div class="pull-right header-selector">
            <samp>
              <%= select_tag(:service_id, options_for_select(current_admin_user.all_services.pluck(:name, :id)), class: ' selectpicker', include_blank: "全部门店") %>
            </samp>
            <samp>
              <%= select_tag(:service_id, options_for_select((Date.today.year-5)..Date.today.year), class: 'selectpicker') %>
            </samp>
            <samp>
              <%= select_tag(:service_id, options_for_select(1..12), class: 'selectpicker') %>
            </samp>
            <samp style="padding-left: 8px">
              <a class="header-button pull-right" href="#"><i class="icon">&#xe60e;</i>导出表格</a>
            </samp>
          </div>
        </div>
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        $('#service_id').on('change', function () {
            $.get(this.href, {page: 1, service: $(this).find("option:selected").val()}, null, 'script');
            return false;
        });
    })
</script>


