<div class="clearfix">
  <% @membership_card_abstracts.each do |membership_card_abstract| %>
      <div class="typl-List pull-left ">
        <h1>
          <span class="pull-left"><%= membership_card_abstract.name %></span>
          <span class="pull-right"><%= membership_card_abstract.card_type_i18n %></span>
        </h1>

        <div class="pull-Content">
          <h3><%= membership_card_abstract.price %>元</h3>
          <ul class="top20">
            <li>有效期：<%= membership_card_abstract.valid_days %>天</li>
            <li>最晚开卡时间：<%= membership_card_abstract.latest_delay_days %>天后</li>
            <li>备注：第一次开卡</li>
          </ul>
          <div class="member-bottn clearfix top10">
            <div class="member-headportrait pull-left"><samp>
              <%= image_tag(membership_card_abstract.service.profile.avatar.url, class: 'img-responsive img-circle') %>
            </samp>
              威尔士(上海环球金融店)
            </div>
            <div class="member-operation pull-right">
              <a href="<%= edit_membership_card_abstract_path(membership_card_abstract) %>"><i class="icon">&#xe615;</i></a>
              <a href="#"><i class="icon">&#xe616;</i></a>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>