<%= search_form_for @q do |f| %>
  <div class="page-header colmd clearfix">
    <div class="member-search pull-left member-type">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
        <%= f.search_field :name_cont, placeholder:"会员卡名称",class:"form-control" %>
      </div>
    </div>
    <%= link_to '<i class="icon">&#xe613;</i> 添加会员卡'.html_safe, new_membership_card_abstract_path,class:"new-member pull-right" %>
  </div>
  <div class="panel  top20">
    <div class="panel-header clearfix sure-select">
      <span class="pull-left">商品总数(<%= @membership_card_abstracts.count%>)</span>
      <p class="top10">
        <%= f.collection_select :card_type_eq, I18n.t("enums.membership_card_abstract.card_type").to_a,:first,:last,{include_blank:"全部类型"},class:"pull-right sure-select-a",onchange:"return $(this).closest('form').submit()"%>
        <%= f.collection_select :service_id_eq, current_admin_user.all_services,:id,:name,{include_blank:"全部门店"},class:"pull-right sure-select-a",onchange:"return $(this).closest('form').submit()"%>
      </p>
    </div>
<% end %>
    <div class="panel-body ">
      <%=render 'table'%>
      <div class="clearfix">
        <%= will_paginate @membership_card_abstracts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>

