<%= semantic_form_for @product, html: {multipart: true} do |f| %>
    <div class="panel  top20">
      <div class="panel-header">新增在售会员卡</div>
      <div class="panel-body">
        <div class="form-main">
          <div>
            <div class="input-group top20">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">门店</samp></span>
              <%= f.select :service_id, current_admin_user.all_services.pluck(:name, :id),
                           {include_blank: false, prompt: '请选择门店'},
                           {
                                   class: "form-control selectpicker",
                           } %>
            </div>
            <div class="input-group top20" id="card_types_area">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">卡名称</samp></span>
              <%= f.select(:type,
                           [],
                           {prompt: '请选择卡'},
                           {class: 'form-control selectpicker'}) %>
            </div>
            <div class="input-group top20">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">商品名称</samp></span>
              <%= f.text_field :name, class: "form-control", placeholder: '请输入名称' %>
            </div>
            <div class="input-group top20">
              <%= f.text_area :description, class: 'form-control-textarea', placeholder: '请输入简介' %>
            </div>
            <div class="input-group top20">
              <%= f.text_area :special, class: 'form-control-textarea', placeholder: '请输入特殊说明' %>
            </div>
          </div>
          <div class="Commoditypicture">
            <h4 class="top20" style="color: #21486a;font-size: 14px; ">商品图片</h4>

            <div class="top20 clearfix">
              <% f.object.image.each { | | %>
                  <div class="photowall-item pull-left">
                    <div class="place">
                      <i class="photowall-font icon"></i>
                      <samp>添加图片</samp>
                    </div>
                    <%= f.file_field 'image', class: 'image-uploader', name: 'product[image][]' %>
                  </div>
              <% } %>
            </div>
          </div>
          <div id="product_attr">
            <h4 class="top12" style="color: #21486a;font-size: 14px; ">商品属性</h4>

            <div class="input-group top20 ">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">有效期</samp></span>
              <%= text_field_tag :valid_days, '', class: 'form-control', readonly: true %>
              <span class="input-group-addon">天</span>
            </div>
            <div class="input-group top20 ">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">最晚开卡</samp></span>
              <%= text_field_tag :latest_delay_days, '', class: 'form-control', readonly: true %>
              <span class="input-group-addon">天后</span>
            </div>
            <div class="input-group top20 ">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">应收金额</samp></span>
              <%= f.text_field :market_price, class: 'form-control', readonly: true %>
              <span class="input-group-addon">元</span>
            </div>
            <div class="input-group  top20 pull-left">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">实收金额</samp></span>
              <%= f.text_field :selling_price, class: 'form-control' %>
              <span class="input-group-addon">元</span>
            </div>
            <div class="input-group top20 pull-left">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">商品数量</samp></span>
              <%= f.text_field :store, class: 'form-control', placeholder: '请输入售卖数量,若不输入，视为无限' %>
            </div>
            <div class="input-group top20 pull-left">
              <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">商品数量</samp></span>
              <%= f.text_field :limit, class: 'form-control', placeholder: '请输入限购数量,若不输入，视为无限' %>
            </div>
          </div>
        </div>

      </div>
      <div class="top20">
        <button type="submit" class="submit ">确认</button>
      </div>
    </div>
<% end %>


<script>
    $(function () {
                $('#product_service_id').on('change', function () {
                    var service_id = $(this).val();
                    if (service_id != '') {
                        $("#product_type").empty();
                        $("<option>请选择卡</option>").appendTo('#product_type');
                        $.getJSON('/' + service_id + '/membership_card_types/' + <%=MembershipCardType.card_types['stored']%> +'/cards', function (data) {
                            $.each(data, function (i, value) {
                                $("<option value='" + value.id +
                                "' data-count='" + value.count +
                                "' data-price='" + value.price +
                                "' data-valid-days='" + value.valid_days +
                                "' data-delay-days='" + value.latest_delay_days +
                                "'>" + value.name + "</option>").appendTo('#product_type');
                            });
                            $("#product_type").selectpicker('refresh');
                        });
                    }
                });
                $('#product_type').on('change', function () {
                    $('#valid_days').val($(this).find("option:selected").attr("data-valid-days"));
                    $('#latest_delay_days').val($(this).find("option:selected").attr("data-delay-days"));
                    $('#product_market_price').val($(this).find("option:selected").attr("data-price"));
                })
            }
    )
</script>