<script>
    $(function () {
        $('.product_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>

<div id="product_table">
  <div style="display: table;width: 100%">
    <% @products.each do |product| %>
        <div class="member-list pull-left">
          <a href="#">
            <div class="cover" style="background-image: url('<%=(product.sku.course_cover + '-cover' rescue '')%>');background-size: cover"></div>
          </a>

          <div class="caption">
            <h3 class="member-h3 clearfix top10">
              <samp class="pull-left member-h3-left"><%= truncate(product.name, length: 10) %></samp>
              <samp class="pull-right member-h3-riht"><%= product.sku.market_price %>元</samp>
            </h3>

            <p class="member-Card"><%= product.card_type.card_type_i18n %></p>
            <ul class="top10">
              <li><samp>卡名称</samp><%= truncate(product.name, length: 10) %></li>
              <li><samp>现价</samp><%= product.sku.selling_price %>元</li>
              <li><samp>商品数量</samp><%= product.sku.store.eql?(-1) ? '无限' : product.sku.store %></li>
              <li><samp>已售数量</samp><%= product.sku.limit.eql?(-1) ? '无限' : product.sku.limit %></li>
            </ul>
            <div class="member-bottn clearfix top20">
              <div class="member-headportrait pull-left">
                <samp>
                  <%= image_tag(product.sku.service.profile.avatar.url + '-avatar', class: 'img-responsive img-circle') %>
                </samp>
                <%= truncate(product.sku.service.profile.name, length: 10) %>
              </div>
              <div class="member-operation pull-right">
                <% if product.sku.online? %>
                    <a href="#"><i class="icon" title="一键下架">&#xe62f;</i></a>
                <% else %>
                    <a href="#"><i class="icon" title="一键上架">&#xe62b;</i></a>
                <% end %>
                <a href="#" title="编辑"><i class="icon">&#xe615;</i></a>
                <a href="#"><i class="icon">&#xe616;</i></a>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="dataTables_paginate">
    <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: 'product_pagination', inner_window: 2 %>
  </div>
</div>
