<script>
    $(function () {
        $('.dynamic_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
        $('.delete_icon').on('click', function (event) {
            $.delete(this.href, function (data) {
                if (data.result) {
                    $(location).attr("href", '/dynamics');
                } else {
                    alert($(".dynamic_pagination a .active").href);
                    alert("删除失败，请重试");
                }

            });
            return false;
        })
    });
</script>
<div class="clearfix">
  <% @dynamics.each do |dynamic| %>
      <div class="pull-left ailois ">
        <a href="/dynamics/<%= dynamic.id %>">
          <div class="screenshot" style="background-image: url('<%=dynamic.images.first.image.thumb.url rescue ''%>');background-size: cover">
          </div>
        </a>
        <dl class="polokl">
          <dd class="destion"><%= dynamic.created_at.localtime.strftime('%Y-%m-%d %H:%M') %></dd>
          <a href="/dynamics/<%= dynamic.id %>">
            <dd class="destion" style="height: 20px"><%= truncate(dynamic.content) %></dd>
          </a>
        </dl>
        <div class="clearfix polokl ">
          <a href="#" class="pull-left pritbt">
            <i class="iconfont icon">&#xe60e;</i><%= dynamic.comments.count %>
          </a>
          <a href="/dynamics/<%= dynamic.id %>" class="pull-right pritbt delete_icon"><i class="iconfont">&#xe60d;</i></a>
        </div>
      </div>
  <% end %>
</div>
<div class="dataTables_paginate">
  <%= will_paginate @dynamics, renderer: BootstrapPagination::Rails, class: 'dynamic_pagination', inner_window: 2 %>
</div>