<script>
    $(function () {
        $('.dynamic_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
        $('.delete_icon').on('click', function (event) {
            $.delete(this.href, function (data) {
                if (data.result) {
                    $(location).attr("href", '/dynamics');
                } else {
                    alert("删除失败，请重试");
                }

            });
            return false;
        })
    });
</script>
<div class="clearfix">
  <% @dynamics.each do |dynamic| %>
      <div class="wrapper-histo pull-left">
        <a href="<%= dynamic_path(dynamic) %>">
          <%= image_tag((dynamic.images.first.image.thumb.url rescue '')) %>
        </a>

        <div class="caption-in">
          <p><%= truncate(dynamic.content) %>&nbsp;</p>

          <p class="clearfix top10">
            <a href="#" class="pull-left left-Name">
              <samp><%= image_tag(dynamic.user.profile.avatar.url) %></samp> 威尔士(徐汇店)
            </a>
            <a href="#" class="pull-right right-Information">
              <i class="icon">&#xe622;</i><%= dynamic.comments_count %>
            </a>
          </p>
        </div>
      </div>
  <% end %>
</div>
<div class="dataTables_paginate">
  <%= will_paginate @dynamics, renderer: BootstrapPagination::Rails, class: 'dynamic_pagination', inner_window: 2 %>
</div>