<div class="panel top20">
  <div class="panel-header">发布动态</div>
  <%= form_for(@dynamic, html: {multipart: true}) do |f| %>
      <div class="panel-body">
        <% if f.object.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% f.object.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <div class="input-group top10 stor-default">
          <span class="input-group-addon"><samp class="alert-down">选择门店</samp></span>
          <%= f.collection_select :user_id, current_admin_user.all_services, :id, :name, {}, {class: 'form-control selectpicker'} %>
        </div>
        <div class="input-group stor-text">
          <%= f.text_area(:content, class: 'form-control-text textarea-content', rows: 6, placeholder: '请输入动态内容') %>
        </div>
        <div class="top20 clearfix" id="multipart">
          <div class="dynamic-uploader pull-left" id="image">
            <i class="dynamic-font icon">&#xe619;</i>
            <samp>添加照片</samp>
            <samp>(最多支持6张)</samp>
            <input type="file" class="image-uploader" name="image[]">
          </div>

          <p class="pull-left dynamic-text" id="text">或</p>

          <div class="dynamic-uploader pull-left" id="film">
            <i class="dynamic-font icon">&#xe61a;</i>
            <samp>添加视频</samp>
            <input type="file" class="film-uploader ">
          </div>
        </div>
        <div class="top20">
          <%= f.submit('确认', class: 'submit') %>
        </div>
      </div>
  <% end %>
</div>

<script>
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    $(function () {
        var file_count = 0;
        $('#multipart').on('change', '.image-uploader', function () {
            $('#text').remove();
            $('#film').remove();
            var remain = 6 - file_count;
            for (var i = 0; i < (remain > this.files.length ? this.files.length : remain); i++) {
                var objUrl = getObjectURL(this.files[i]);
                $(this).parent().children('i').remove();
                $(this).parent().children('samp').remove();
                $(this).parent().css('background-image', "url(" + objUrl + ")");
                $(this).parent().css('background-size', "cover");
                $(this).parent().append('<button type="button" class="close close_label " aria-label="Close"><span aria-hidden="true">&times;</span></button>');
            }
            file_count = file_count + this.files.length;
            if (file_count < 6) {
                var image_div = '<div class="dynamic-uploader pull-left">' +
                        '<i class="dynamic-font icon">&#xe619;</i>' +
                        '<samp>添加照片</samp>' +
                        '<samp>(最多支持6张)</samp>' +
                        '<input type="file" class="image-uploader" name="image[]">' +
                        '</div>';
                $(this).parent().parent().append(image_div);
            }
        });
        $('.film-uploader').on('change', function () {
            $('#image').remove();
            $('#text').remove();
            $('#cover').remove();
            var filename = $('.film-uploader').val();
            if (filename.length > 15) {
                $(this).parent().children('samp').text(filename.substr(0, 15) + '...');
            } else {
                $(this).parent().children('samp').text(filename);
            }

            var image_div = "<div class='dynamic-uploader pull-left' id='cover'>" +
                    '<i class="dynamic-font icon">&#xe619;</i>' +
                    '<samp>添加视频封面</samp>' +
                    '<input type="file" class="cover-uploader" name="cover">' +
                    '</div>';
            $(this).parent().parent().append(image_div);
        });

        $('#multipart').on('change', '.cover-uploader', function () {
            var objUrl = getObjectURL(this.files[0]);
            $(this).parent().children('i').remove();
            $(this).parent().children('samp').remove();
            $(this).parent().css('background-image', "url(" + objUrl + ")");
            $(this).parent().css('background-size', "cover");
        })
    })

</script>