<div class="row">
  <div class="col-lg-12  tdzty ">
    <div class=" clearfix row ">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">动态详情</h3>
          </div>
          <dl>
            <dd class="destion_line top10 ">
              <div class="panel-body  pciilk">
                <% if @dynamic.film.present? %>
                    <div class="col-xs-12 col-md-12" id="HLSPlayer">
                      <div class="video" id="HLSPlayer">
                        <SCRIPT LANGUAGE=JavaScript>
                            var vWidth = "100%";                //播放器宽度设置
                            var vHeight = 450;                   //播放器宽度设置
                            var vPlayer = "<%=asset_path('HLSPlayer.swf')%>?v=1.5"; //播放器文件
                            var vHLSset = "<%=asset_path('HLS.swf')%>";             //HLS配置
                            var vPic = "<%=(dynamic.cover.url rescue 'http://localhost/assets/default_dynamic.png')%>";    //视频缩略图
                            var vHLSurl = "<%=(dynamic.film.hls rescue 'http://b.cuplayer.net:8011/hls2-vod/test.mp4.m3u8')%>";
                            //-->
                        </SCRIPT>
                        <%= javascript_include_tag 'js/hls.min' %>
                      </div>
                    </div>
                <% else %>
                    <div id="gallery">
                      <% @dynamic.images.each do |image| %>

                          <a href="<%= image.image.url %>"><img src="<%= image.image.url(:thumb)%>"  /></a>

                      <% end %>
                    </div>
                    <script type="text/javascript">
                        $( function() {
                            $( '#gallery' ).jGallery();
                        } );
                    </script>
                <% end %>
              </div>
              <%= @dynamic.content %>
              <br>
            </dd>
            <dd class="destion"><%= @dynamic.created_at.localtime.strftime('%Y-%m-%d') %></dd>
          </dl>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">用户评论(<%= @dynamic.comments.count %>)</h3>
          </div>
          <div class="panel-body" style="max-height: 1008px;overflow: auto">
            <% @dynamic.comments.order(id: :desc).each { |comment| %>
                <div class="media clearfix">
                  <a class="pull-left tpxco" href="#">
                    <%= image_tag(comment.user.profile.avatar.thumb.url) %>
                  </a>

                  <div class="media-body clearfix ">
                    <div class="tcod color8d pull-right"><%= comment.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></div>
                    <h4 class="media-heading top5 txt-tit"><%= comment.user.profile.name %></h4>

                    <p class="tcod top8 "><%= comment.content %></p>
                  </div>
                </div>

                <hr class="bs-docs-separator"/>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>