<div class="row">
  <div class="col-lg-12  tdzty ">
    <div class=" clearfix row ">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">动态详情</h3>
          </div>
          <dl>
            <dd class="destion_line top10 ">
              <div class="panel-body  pciilk">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <% @dynamic.images.each_index do |index| %>
                        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <%
                       @dynamic.images.each do |image|
                         if @dynamic.images.first.eql?(image)
                    %>
                            <div class="item active">
                              <%= image_tag(image.image.url) %>
                            </div>
                        <% else %>
                            <div class="item">
                              <%= image_tag(image.image.url) %>
                            </div>
                        <% end %>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="iconfont">&#xe616;</i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="iconfont">&#xe615;</i>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <%= @dynamic.content %>
              <br>
            </dd>
            <dd class="destion"><%= @dynamic.created_at.localtime.strftime('%Y-%m-%d') %></dd>
          </dl>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">用户评论(<%= @dynamic.comments.count %>)</h3>
          </div>
          <div class="panel-body" style="max-height: 1008px;overflow: auto">
            <% @dynamic.comments.order(id: :desc).each { |comment| %>
                <div class="media clearfix">
                  <a class="pull-left tpxco" href="#">
                    <%= image_tag(comment.user.profile.avatar.thumb.url) %>
                  </a>

                  <div class="media-body clearfix ">
                    <div class="tcod color8d pull-right"><%= comment.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></div>
                    <h4 class="media-heading top5 txt-tit"><%= comment.user.profile.name %></h4>

                    <p class="tcod top8 "><%= comment.content %></p>
                  </div>
                </div>

                <hr class="bs-docs-separator"/>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>