<%= semantic_form_for @user_registration, html: {multipart: true} do |f| %>

    <h3 class="Content-h3">新增用户</h3>
    <div class="panel">
      <div class="panel-body">
        <h4 class="base-info">基本资料</h4>
        <!--错误提示-->
        <% if @user_registration.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @user_registration.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>

        <div class="new-portrait pull-right">
          <samp>
            <i class=" icon">&#xe619;</i>
          </samp>

          <p>上传门店头像</p>
          <input type="file" class="image-uploader">
        </div>

        <div class="form-main ">
          <div class="input-group  ">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">会员姓名</samp></span>

            <%= f.text_field :name, :class => "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">生日</samp></span>
            <%= f.text_field :birthday, class: "form-control datepicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">性别</samp></span>
            <%= f.collection_select :gender, UserRegistration.genders.map { |key, value| [I18n.t("activerecord.attributes.user_registration.gender.#{key}"), key] }, :last, :first, {}, {class: "form-control"} %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">手机号码</samp></span>
            <%= f.text_field :mobile, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
            <%= f.collection_select :service_id, current_admin_user.all_services, :id, :name, {}, class: "form-control" %>
          </div>

          <div class="input-group form-main">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">会员地址</samp></span>
            <%= f.select(:province, [], {}, {class: 'form-control-28 form-control-no-left-border'}) %>
            -
            <%= f.select(:city, [], {}, {class: 'form-control-28 form-control-all-border'}) %>
          </div>
          <div class="input-group form-main">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">详细地址</samp>
                </span>
            <%= f.text_field :address, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">备注</samp></span>
            <%= f.text_field :remark, class: "form-control" %>
          </div>
        </div>


        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>
    new PCAS("user_registration[province]", "user_registration[city]", '<%=@user_registration.province%>', '<%=@user_registration.city%>');
    $(function () {
                $("#user_registration_birthday").datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd'
                });
                $(".portrait").image_preview();
            }
    );
</script>
