<%= search_form_for @q do |f| %>
    <div class="page-header colmd clearfix">

      <div class="member-search pull-left member-type">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
          <%= f.search_field :name_or_mobile_cont, placeholder: "会员姓名／手机号码／实体卡号", class: "form-control" %>
        </div>
      </div>
      <%= link_to '新建会员', new_user_registration_path, class: "new-member pull-right" %>
      <%= link_to '搜索', '#', class: "detailed-Search pull-right" %>
    </div>
<% end %>
<div class="panel  top20">
  <div class="panel-header clearfix sure-select">
    <span class="pull-left">会员统计</span>

    <p class="top10">
      <%= select_tag(:service_id, options_for_select(current_admin_user.all_services.pluck(:name, :id)), class: 'pull-right selectpicker', include_blank: "全部门店") %>
    </p>
  </div>
  <div class="panel-body">
    <div class="chart-surrounded">
      <%= render 'chart' %>
    </div>
    <h3 class="member-h3">会员信息</h3>
    <table class="table table-striped card-list" id="datatable-editable">
      <thead>
      <tr>
        <th width="8%">头像</th>
        <th width="12%">姓名</th>
        <th width="10%">性别</th>
        <th width="16%">门店</th>
        <th width="18%">电话</th>
        <th width="10%">身份</th>
        <th width="10%">来源</th>
        <th width="16%">操作</th>
      </tr>
      </thead>
      <tbody>
      <% @user_registrations.each do |user_registration| %>
          <tr>
            <td><%= image_tag user_registration.avatar.url, class: "img-responsive img-circle" %></td>
            <td><%= user_registration.name %></td>
            <td><%= I18n.t("activerecord.attributes.user_registration.gender.#{user_registration.gender}") %></td>
            <td><%= user_registration.service.profile.name %></td>
            <td><%= user_registration.mobile %></td>
            <td><%= user_registration.reg_type_i18n %></td>
            <td><%= user_registration.source_i18n %></td>
            <td class="list-card-1f">
              <%= link_to "编辑", edit_user_registration_path(user_registration) %>｜<%= link_to "详情", user_registration %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="clearfix pull-right">
      <%= will_paginate @user_registrations, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>

