<table class="table table-striped" id="datatable-editable">
  <thead>
  <tr class="table-header">
    <th width="5%">编码</th>
    <th width="25%">会员卡名称</th>
    <th width="25%">所属门店</th>
    <th width="20%">卡类</th>
    <th width="20%">余额(元/次/有效期)</th>
    <th width="5%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.name %></td>
        <td><%= card.service.profile.name %></td>
        <td><%= card.card_type_i18n %></td>
        <td>
          <% if card.stored? %>
              <%= card.value %>元
          <% elsif card.measured? %>
              <%= card.value %>次
          <% elsif card.clocked? %>
              <% if card.valid_end.eql?('已过期') %>
                  <span style="color: red"><%= membership_card.valid_end %></span>
              <% else %>
                  <%= (card.valid_end- Date.today).floor %>天
              <% end %>
          <% elsif card.course? %>
              <%= card.supply_value %>节
          <% end %>

        </td>
        <td class="sign-in">
          <% unless card.valid_end.eql?('已过期')||card.disable? %>
              <% if card.course? %>
                  <% if card.supply_value >0 %>
                      <%= link_to "签到", checkin_card_new_path(card), 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
                  <% end %>
              <% elsif card.stored? || card.measured? %>
                  <% if card.value >0 %>
                      <%= link_to "签到", checkin_card_new_path(card), 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
                  <% end %>
              <% else %>
                  <%= link_to "签到", checkin_card_create_path(card), method: :post %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="modal fade sign-in-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<script>
    $("#myModal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
    });
</script>