<table class="table table-striped card-list" id="datatable-editable">
  <thead>
  <tr class="table-header">
    <th width="8%">头像</th>
    <th width="8%">姓名</th>
    <th width="18%">门店</th>
    <th width="13%">时间</th>
    <th width="10%">名称</th>
    <th width="10%">类型</th>
    <th width="10%">余额</th>
    <th width="13%">操作员</th>
    <th width="10%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td width="8%">
          <%= image_tag(log.membership_card.member.avatar_url + '-avatar', class: "img-responsive img-circle") %>
        </td>
        <td width="13%">
          <%= log.membership_card.member.name %>
        </td>
        <td width="13%">
          <%= log.membership_card.service.profile.name %>
        </td>
        <td width="13%">
          <%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
        </td>
        <td width="10%">
          <%= trancate(log.membership_card.name, length: 8) %>
        </td>
        <td width="10%">
          <%= log.membership_card.card_type_i18n %>
        </td>
        <td width="10%">
          <% if log.membership_card.stored? %>
              <%= log.membership_card.value %>元
          <% elsif log.membership_card.measured? %>
              <%= log.membership_card.value %>次
          <% elsif log.membership_card.clocked? %>
              <% if log.membership_card.valid_end.eql?('已过期') %>
                  <span style="color: red"><%= log.membership_card.valid_end %></span>
              <% else %>
                  <%= (log.membership_card.valid_end- Date.today).floor %>天
              <% end %>
          <% elsif log.membership_card.course? %>
              <%= log.membership_card.supply_value %>节
          <% end %>
        </td>
        <td width="13%"> <%= log.operator %></td>
        <td class="sign-in">
          <% unless log.membership_card.clocked? %>
              <% if log.confirm? %>
                  <%= form_tag(cancel_checkin_path(log), method: :post) do %>
                      <%= link_to "取消签到", '#', onclick: "return $(this).closest('form').submit()" %>
                  <% end %>
              <% else %>
                  <span style="color: red">已取消</span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'logs_pagination' %>
</div>
<script>
    $(function () {
        $('.logs_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>