<script>
    $(function () {
        $('.logs_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
        $("#myModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $(".post").on("click", function () {
            $.post(this.href, null, null, 'script');
            return false;
        })

    });
</script>
<table class="table table-striped card-list" id="datatable-editable">
  <thead>
  <tr class="table-header">
    <th>头像</th>
    <th>姓名</th>
    <th>门店</th>
    <th>时间</th>
    <th>实体卡号</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td>
          <%= image_tag(log.member.avatar.url + '-avatar', class: "img-responsive img-circle") %>
        </td>
        <td>
          <%= log.member.name %>
        </td>
        <td>
          <%= log.service.profile.name %>
        </td>
        <td>
          <%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
        </td>
        <td>
          <%= log.entity_number||log.remark %>
        </td>
        <td class="sign-in">
          <%= link_to "签到", card_list_path(log), 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
          <%= form_tag(ignore_checkin_path(log), method: :post) do %>
              |<%= link_to "忽略", '#', onclick: "return $(this).closest('form').submit()" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'logs_pagination' %>
</div>
<div class="modal fade sign-in-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>