<table class="table table-striped" id="datatable-editable">
  <thead>
  <tr class="table-header">
    <th>头像</th>
    <th>姓名</th>
    <th>门店</th>
    <th>时间</th>
    <th>实体卡号</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
      <tr>
        <td>
          <%= image_tag(log.member.avatar.url + '-avatar') %>
        </td>
        <td>
          <%= log.membership_card.member.name %>
        </td>
        <td>
          <%= log.membership_card.service.profile.name %>
        </td>
        <td>
          <%= log.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
        </td>
        <td>
          <%= log.entity_number||log.remark %>
        </td>
        <td class="sign-in">
          <%= link_to "签到", "#", 'data-toggle' => 'modal', 'data-target' => '#myModal' %>|
          <%= link_to "忽略", "#", 'data-toggle' => 'modal', 'data-target' => '#myModal' %>|
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix pull-right">
  <%= will_paginate @logs, renderer: BootstrapPagination::Rails, class: 'logs_pagination' %>
</div>
<script>
    $(function () {
        $('.logs_pagination a').on('click', function (event) {
            $.get(this.href, null, null, 'script');
            return false;
        });
    });
</script>