<div class="page-header  clearfix">
  <div class="pull-left mx-tabs">
    <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        会员签到</samp>'.html_safe, '#', class: 'pull-left page-header-text' %>
    <%= link_to "待确认", pending_list_path, class: "pull-left  page-header-text " %>
    <%= link_to "全部会员签到记录", confirm_list_path, class: "pull-left  page-header-text " %>
  </div>
  <div class="pull-right member-search">
    <%= select_tag(:member,
                   options_for_select(@members),
                   {
                           include_blank: '请选择会员',
                           class: 'form-control selectpicker search header-search',
                           'data-live-search' => 'true'
                   }) %>
  </div>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">会员详情</span>
  </div>
  <div class="panel-body" id="member_panel">
    <%= render 'member' %>
  </div>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">会员卡信息</span>
  </div>
  <div class="panel-body" id="card_panel">
    <%= render 'card' %>
  </div>
</div>
<script>
    $(function () {
        $('#member').on('change', function () {
            $.get(this.href, {page: 1, member: $(this).find("option:selected").val()}, null, 'script');
            return false;
        });
    });
</script>

