<%= form_tag(confirm_checkin_path(@checkin), method: :patch) do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">签到确认</h4>
    </div>
    <div class="modal-body" style="overflow-y: scroll">
      <table class="table table-striped card-list" id="datatable-editable">
        <thead>
        <tr class="table-header">
          <th width="10%"></th>
          <th width="35%">会员卡名称</th>
          <th width="10%">卡类</th>
          <th width="25%">余额(元/次/有效期)</th>
          <th width="20%">扣费</th>
        </tr>
        </thead>
        <tbody>
        <% @cards.each do |card| %>
            <tr>
              <td><%= radio_button_tag(:membership_card_id, card.id) %></td>
              <td><%= truncate(card.name, length: 8) %></td>
              <td><%= card.card_type_i18n %></td>
              <td>
                <% if card.stored? %>
                    <%= card.value %>元
                <% elsif card.measured? %>
                    <%= card.value %>次
                <% elsif card.clocked? %>
                    <%= (card.valid_end- Date.today).floor %>天
                <% elsif card.course? %>
                    <%= card.supply_value %>节
                <% end %>
              </td>
              <td>
                <% if card.stored? %>
                    <div class="input-group top20">
                      <%= text_field_tag "value_#{card.id}", '', class: 'form-control', style: 'border-left: 1px solid #ccc' %>
                      <span class="input-group-addon">元</span>
                    </div>
                <% elsif card.measured? %>
                    <div class="input-group top20">
                      <%= text_field_tag "value_#{card.id}", '', class: 'form-control', style: 'border-left: 1px solid #ccc' %>
                      <span class="input-group-addon">次</span>
                    </div>
                <% elsif card.course? %>
                    <div class="input-group top20">
                      <%= text_field_tag "value_#{card.id}", '', class: 'form-control', style: 'border-left: 1px solid #ccc' %>
                      <span class="input-group-addon">节</span>
                    </div>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="submit"
              data-dismiss="modal">关闭
      </button>
      <button type="submit" class="submit">
        提交
      </button>
    </div>
<% end %>

