<div class="page-header clearfix">
  <div class="pull-left mx-tabs">
    <%= link_to '会员签到', checkin_path, class: 'pull-left page-header-text' %>
    <%= link_to '<samp class="mx-tab-active">
        <div id="triangle-down"></div>
        待确认</samp>'.html_safe, pending_list_path, class: "pull-left  page-header-text" %>
    <%= link_to '全部会员签到记录', confirm_list_path, class: 'pull-left page-header-text' %>
  </div>
  <div class="pull-right member-search">
    <%= select_tag(:member,
                   options_for_select(@members),
                   {
                           include_blank: '会员名称/手机号码',
                           class: 'form-control selectpicker search header-search',
                           'data-live-search' => 'true'
                   }) %>
  </div>
</div>
<div class="panel top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">签到记录(<%= @logs.total_entries %>)</span>
  </div>
  <div class="panel-body" id="list-panel">
    <%= render 'pending' %>
  </div>
</div>
<script>
    $(function () {
        $('#member').on('change', function () {
            $.get(this.href, {page: 1, member: $(this).find("option:selected").val()}, null, 'script');
            return false;
        });
    });
</script>
