<div class="row">
  <div class="col-lg-12 top10 tdzty">
    <h3 class="poloklh4">转账给私教</h3>

    <div class="panel panel-default top15 clearfix">
      <ul id="myTab" class="nav nav-tabs nav-bj clearfix">
        <li class="active"><a href="#home" data-toggle="tab">向一人付款</a></li>
        <li><a href="#ios" data-toggle="tab">向多人付款</a></li>
      </ul>
      <div id="myTabContent" class="tab-content  clearfix ">
        <div class="tab-pane fade in active clearfix" id="home">
          <div class="panel-body">
            <%= form_tag(submit_transfer_path) do %>
                <% if @error.present? %>
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      转账失败
                    </div>
                <% end %>
                <% if @success.present? %>
                    <div class="alert alert-success" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Success:</span>
                      转账成功
                    </div>
                <% end %>
                <div class="colmd400 clearfix">
                  <div class="form-section fygroup colmd3">
                    <div class='input-group date'>
                              <span class="input-group-addon">
                                账户余额
                              </span>
                      <input type="text" class="input-text" value="<%= @service.wallet.balance.to_f %>" readonly>
                    </div>
                  </div>
                  <div class="form-section fygroup colmd3">
                    <%= select_tag(:coach, options_for_select(@service.coaches.map { |coach| [coach.profile.name, coach.id] }), class: 'input-textl') %>
                  </div>

                  <div class="input-group fygroup colmd3">
                    <div class="form-section">
                      <label class="input-label">转账金额</label>
                      <%= text_field_tag(:amount, '', class: 'input-text') %>
                    </div>
                    <span class="input-group-addon">元</span></div>
                  <div class="fygroup ">
                    <%= submit_tag('确认', class: 'btntn-lg') %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade clearfix" id="ios">
          <%= form_tag(batch_transfer_path) do %>
              <div class="panel-body">
                <% if @error.present? %>
                    <div class="alert alert-danger" role="alert">
                      转账失败
                    </div>
                <% end %>
                <% if @success.present? %>
                    <div class="alert alert-success" role="alert">
                      转账成功
                    </div>
                <% end %>
                <div class="colmd400 fygroup clearfix" id="payee">
                  <div class="colmd3 pull-left">
                    <div class="form-section">
                      <%= select_tag('account[]', options_for_select(@service.coaches.map { |coach| [coach.profile.name, coach.id] }), class: 'input-textl') %>
                    </div>
                  </div>
                  <div>
                    <div class="colmd3 pull-left m-left10">
                      <div class="input-group">
                        <div class="form-section">
                          <input class="input-textl" type="text" name="amount[]">
                        </div>
                        <span class="input-group-addon">元</span></div>
                    </div>
                    <div class="top8 pull-left m-left10">
                      <button type="button" class="close" aria-label="Close" onclick="removePayee()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
                <a href="#" class="tlki" onclick="addPayee()"><i class="icon-tj icon1">&#xe61e;</i>增加收款人</a>

                <div class="fygroup">
                  <button type="submit" class="btntn-lg ">确认</button>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row top15">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title  pull-left">私教销售额</h3>

            <div class="pull-right pcoox">
              <select id="year">
                <%
                   (0..5).each { |index|
                     year = Date.today.years_ago(index).year
                %>
                    <option value="<%= year %>"><%= year %></option>
                <% } %>
              </select>
              <select id="month">
                <%
                   (1..12).each { |index|
                     if index.eql?(Date.today.month)

                %>
                        <option value="<%= index %>" selected="selected"><%= index %>月</option>
                    <% else %>
                        <option value="<%= index %>"><%= index %>月</option>
                    <% end
                       } %>
              </select>
            </div>
          </div>
          <div class="panel-body">
            <script type="text/javascript">
                function addPayee() {
                    $('#payee').before($('#payee').clone());
                }
                function removePayee() {

                }
                function init(coach, data) {
                    $('#container').highcharts({
                        chart: {type: 'column', margin: [50, 50, 100, 80]},
                        title: {text: '私教销售额'},
                        xAxis: {
                            categories: coach,
                            labels: {
                                rotation: -45, align: 'right',
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '销售额 (元)'
                            }
                        },
                        legend: {enabled: false},
                        tooltip: {pointFormat: '销售额: <b>{point.y:.1f} 元</b>'},
                        series: [{
                            name: '销售额', data: data,
                            dataLabels: {
                                enabled: true,
                                align: 'top',
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif',
                                }
                            }
                        }]
                    });
                }

                $(function () {
                    var year = $('#year').val();
                    var month = $('#month').val();
                    $.get('/finance/sale.json', {year: year, month: month}, function (data) {
                        var coach = data.coach;
                        var sale = data.sale;
                        init(coach, sale);
                    });
                    $('#year,#month').on('change', function () {
                        var _year = $('#year').val();
                        var _month = $('#month').val();
                        $.get('/finance/sale.json', {year: _year, month: _month}, function (data) {
                            var _coach = data.coach;
                            var _sale = data.sale;
                            init(_coach, _sale);
                        });
                    });
                });
            </script>
            <div id="container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>