<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>美型管理平台</title>
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <%= javascript_include_tag 'js/PCASClass',
                             'js/jgallery',
                             'js/bootstrap-datepicker',
                             'js/bootstrap-datepicker.zh-CN',
                             'js/bootstrap-multiselect',
                             'js/bootstrap-select'
  %>
  <script>
      $(function () {
          $(".chosen-select").chosen({
                      allow_single_deselect: true,
                      no_results_text: '没有匹配的結果!',
                      width: "30%"
                  }
          )
      });
  </script>
  <%= stylesheet_link_tag 'application',
                          'css/bootstrap.min',
                          'css/style',
                          'css/main-left',
                          'css/main',
                          'css/form',
                          'css/font-awesome',
                          'css/iconfont',
                          'css/album',
                          'css/bootstrap-select',
                          'css/jgallery'
  %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">
  <div class="collapse navbar-collapse navbar-ex1-collapse ">
    <ul class="side-nav">
      <div class="nav-top-logo"><%= image_tag('logo.png') %></div>
      <div class="sidebar" role="navigation">
        <%= render partial: 'layouts/sidebar' %>
      </div>
    </ul>
  </div>
  <div class="wrapper-right">
    <nav class="nav-top">
      <%= render partial: 'layouts/header' %>
    </nav>
    <%= render "/layouts/flash" %>
    <div class="wrapper-Content">
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'js/bootstrap.min', 'js/navigation', 'application' %>
</body>

</html>