<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <%= stylesheet_link_tag 'css/style', 'css/crosscover.min' %>
</head>
<body>

<div class="crosscover">
  <div id="particles-js" class="particles-js"></div>
  <div class="Land">
    <div class="land-logo"><%= image_tag('background/logo.png') %></div>
    <div class="Land-ul">
      <%= yield %>
    </div>
  </div>
  <ul class="crosscover-list">
    <li><%= image_tag('background/bg1.png') %></li>
    <li><%= image_tag('background/bg2.png') %></li>
    <li><%= image_tag('background/bg3.png') %></li>
  </ul>
  <div class="login-Copyright">Mxing 2014-2018 © All Rights Reserved.</div>
</div>
<%= javascript_include_tag 'js/particles', 'js/app', 'js/jquery.min', 'js/crosscover.min' %>
<script type="text/javascript">
    $(".crosscover").crosscover({
        interval: 5000,
        startIndex: 0,
        autoPlay: true,
        controller: true
    });
</script>

</body>

</html>
