<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>美型-用户后台</title>
  <%= stylesheet_link_tag 'css/bootstrap.min', 'css/sb-admin', 'font/iconfont', 'font/font-awesome.min' %>
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <!--<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>-->
  <%= javascript_include_tag 'js/html5shiv', 'js/respond.min', 'js/dropzone' %>
  <%= javascript_include_tag 'js/bootstrap.min', 'js/sb-admin-2', 'js/bootstrap-datepicker', 'js/bootstrap-datepicker.zh-CN', 'js/bootstrap-multiselect' %>
</head>
<body>
<div id="wrapper" class="wrappert">
  <div class="collapse navbar-collapse navbar-ex1-collapse ">
    <%= render partial: 'layouts/sidebar' %>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <%= render partial: 'layouts/header' %>
      </div>
      <div class="padding15">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
