<table class="table table-striped" id="datatable-editable">
  <thead>
  <tr class="table-header">
    <th width="5%">编码</th>
    <th width="20%">会员卡名称</th>
    <th width="15%">实体卡号</th>
    <th width="20%">所属门店</th>
    <th width="20%">卡类</th>
    <th width="20%">余额(元/次/有效期)</th>
  </tr>
  </thead>
  <tbody>
  <% @member.cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.name %></td>
        <td><%= card.physical_card %></td>
        <td><%= card.service.profile.name %></td>
        <td><%= card.card_type_i18n %></td>
        <td>
          <% if card.stored? %>
              <%= card.value %>元
          <% elsif card.measured? %>
              <%= card.value %>次
          <% elsif card.clocked? %>
              <% if card.valid_end.eql?('已过期') %>
                  <span style="color: red"><%= card.valid_end %></span>
              <% else %>
                  <%= (card.valid_end- Date.today).floor %>天
              <% end %>
          <% elsif card.course? %>
              <%= card.supply_value %>节
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
