<%= semantic_form_for @member, html: {multipart: true} do |f| %>
    <div class="panel">
      <div class="panel-header">新建会员</div>
      <div class="panel-body">
        <!--错误提示-->
        <% if @member.errors.present? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <% @member.errors.messages.values.each { |v| %>
                  <%= v %><br/>
              <% } %>
            </div>
        <% end %>
        <%= f.hidden_field :client_id, value: current_user.client_id %>
        <div class="new-portrait pull-right">
          <samp class="default_icon">
            <i class=" icon">&#xe619;</i>
          </samp>

          <p class="default_title">上传会员头像</p>
          <%= f.file_field :avatar, class: 'image-uploader' %>
        </div>

        <div class="form-main ">
          <div class="input-group  ">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">会员姓名</samp></span>

            <%= f.text_field :name, :class => "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">生日</samp></span>
            <%= f.text_field :birthday, class: "form-control datepicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">性别</samp></span>
            <%= f.select :gender, [['男', 'male'], ['女', 'female']], {}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">手机号码</samp></span>
            <%= f.text_field :mobile, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">所属门店</samp></span>
            <%= f.collection_select :service_id, current_admin_user.all_services, :id, :name, {}, class: "form-control selectpicker" %>
          </div>

          <div class="input-group top20  address_selector tiform">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">会员地址</samp></span>
            <%= f.select(:province, [], {}, {class: 'address_province_selector  selectpicker'}) %>
            -
            <%= f.select(:city, [], {}, {class: 'address_city_selector  selectpicker'}) %>
            -
            <%= f.select(:area, [], {}, {class: 'address_city_selector selectpicker'}) %>
          </div>
          <div class="input-group top20">
                <span class="input-group-addon" id="sizing-addon2">
                  <samp class="alert-down">详细地址</samp>
                </span>
            <%= f.text_field :address, class: "form-control" %>
          </div>

          <div class="input-group  top20">
            <span class="input-group-addon" id="sizing-addon2"><samp class="alert-down">备注</samp></span>
            <%= f.text_field :remark, class: "form-control" %>
          </div>
        </div>

        <div class="fygroup top20">
          <button type="submit" class="submit ">确认</button>
        </div>
      </div>

    </div>
<% end %>

<script>
    new PCAS("member[province]", "member[city]", "member[area]", '<%=@member.province%>', '<%=@member.city%>', '<%=@member.area%>');
    $(function () {
                $("#member_birthday").datepicker({
                    language: 'zh-CN',
                    format: 'yyyy-mm-dd'
                });
                $(".portrait").image_preview();
            }
    );
</script>
