<%= search_form_for @query do %>
    <div class="page-header  clearfix">

      <div class="member-search pull-left member-type">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="icon">&#xe61b;</i></span>
          <%= search_field_tag :name_or_mobile_or_physical_card, placeholder: "会员姓名／手机号码／实体卡号", class: "form-control" %>
        </div>
      </div>
      <% if can?(:create, Dynamic) %>
          <%= link_to '新建会员', new_member_path, class: "new-btn pull-right" %>
      <% end %>
      <%= link_to '搜索', '#', class: "detailed-Search pull-right", onclick: "return $(this).closest('form').submit()" %>
    </div>
<% end %>
<div class="panel  top20">
  <div class="panel-header clearfix header-selector">
    <span class="pull-left">会员统计</span>

    <p class="top10">
      <%= select_tag(:service_id, options_for_select(current_admin_user.all_services.pluck(:name, :id)), class: 'pull-right selectpicker', include_blank: "全部门店") %>
    </p>
  </div>
  <div class="panel-body">
    <%= render 'chart' %>
  </div>
</div>

<div class="panel">
  <div class="panel-header">会员列表</div>
  <div class="panel-body">
    <%= render 'table' %>
  </div>
</div>